<div fxLayout="row" fxLayout.xs="column">
  <mat-card>
    <mat-card-content>
      <mat-card-title>Login</mat-card-title>
      <form class="example-form">
        <div style="font-size: 12px">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Ex. pat@example.com">
            <mat-hint>Errors appear instantly!</mat-hint>
            <mat-error>
              Please enter a valid email address
            </mat-error>
            <mat-error>
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="user.password" name="password" type="password" matInput placeholder="********">
            <mat-hint>Errors appear instantly!</mat-hint>
          </mat-form-field>

          <button class="button-login" type="button" (click)="loginUser()" mat-raised-button>Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
