<table mat-table #bookTable [dataSource]="books" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row"
        (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="description">
          <strong>Description: {{element.description}}</strong><br>
          <small>{{element.website}}</small>
        </div>
        <div fxLayout='row' fxLayout.xs="column" fxLayoutAlign="space-evenly">
          <div fxFlex="100" fxLayout.xs="column" fxLayoutAlign="end center">

            <button class="shrink" (click)="toggleBookInWishList(element)" mat-raised-button color="primary"
              type="button">Agregar libro</button>
            <button class="shrink" (click)="askBeforeDelete(element)" mat-raised-button color="warn"
              type="button">Delete Book</button>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="element-row"
    [class.expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
</table>

<app-loader #bookLoader></app-loader>
