<div fxLayout='row wrap' fxLayout.xs="column" fxLayoutAlign="space-between" fxLayoutAlign.xs="center center">
  <h1>Book List</h1>
  <div style="font-size: 12px; margin-bottom: 5px;">
    <button mat-raised-button color="primary" type="button" aria-label="Example icon-button with menu icon"
      (click)="openModalToAddBook()">Agregar libro</button>
  </div>
</div>
<mat-divider></mat-divider>



<div fxLayout='row wrap' fxLayout.xs="column" fxLayoutAlign="space-evenly" fxLayoutGap="20px" *ngIf="books.length > 0">
  <div fxFlex="30" fxFlex.lg="30" fxFlex.sm="30" *ngFor="let book of books">
    <app-book [book]="book" (newBookEventEmitter)="bookEdited($event)"></app-book>
  </div>
</div>

<app-loader #booksLoader></app-loader>
